obsolete
extras
*.o
*.a
*.0
*.bck.c
*.bck.h
*.bck
*.diff
*.lib
*.ok
*.orig
*.rej
*.tmp
compile
load
makelib
_*
tmp
trylib
rts
newlibs
dev
tcpserver
boot
test-it
conf-build
ext
qlibs
auto_*.c
ipme2*
ipalloc2*
ipmeprint2*
hassalen.h

autocf-*
CONTRIBUTORS
c-tests
ssl.bin

# ignore binaries
bouncesaying
condredirect
datemail
except
forward
hostname
ipmeprint
maildir2mbox
maildirmake
mailsubj
mkconfig
mkrsadhkeys
mksrvrcerts
predate
preline
qmail-bfque
qmail-bfrmt
qmail-clean
qmail-fixq
qmail-getpw
qmail-inject
qmail-local
qmail-lspawn
qmail-newmrh
qmail-newu
qmail-print
qmail-pw2u
qmail-qmqpc
qmail-qmqpd
qmail-qmtpd
qmail-qread
qmail-qstat
qmail-queue
qmail-remote
qmail-rspawn
qmail-send
qmail-shcfg
qmail-smtpd
qmail-start
qmail-tcpok
qmail-tcpsrv
qmail-tcpto
qreceipt
sendmail
splogger
systype
tcp-env
tcprules
