obsolete
extras
*.bck
*.orig
*.rej
*.tmp
*.o
*.a
*.0
compile
load
makelib
_*
tmp
trylib
rts
*.bck.c
lib/bck
lib/man
inc/bck
newlibs
dev
tcpserver
boot
lib-1*
inc-1*
testing
lib/dns
lib/socket
*.bck.c
