obsolete
extras
*.o
*.a
*.0
*.bck.c
*.bck.h
*.bck
*.diff
*.orig
*.rej
*.tmp
compile
load
makelib
_*
tmp
trylib
rts
newlibs
dev
tcpserver
boot
test-it
CHANGELOG-1.10
conf-build
ext
qlibs

qmail-envars*
auto_*.c
ipme2*
ipalloc2*
ipmeprint2*
